<div class="info d-flex">
    <img class="img-details mx-auto mt-2" src="https://fakeimg.pl/350x300/"/>
    <div class="info-sub ">
        <div class="title mt-5 d-flex justify-content-around">
            <h2 style="color: #D4401F; margin-right: 27%;">Menu Simple 2000 FCFA</h2>
            <mtm-count></mtm-count>
        </div>
        <div class="describe mt-5 d-flex">
            <h4>Pain grillé, burger 130g, fromage, oignon caramélisé, salade, tomate, oignon rouge, cornichons, mayonnaise sauce et sauce salad spéciale</h4>
            <mtm-add-cart></mtm-add-cart>
        </div>
    </div>
</div>