.tahir
{
    background-color: #D4401F;
}
.test
{
    color: white;
}

/* .nav-item span 
{
    background-color: red;
    color: #fff;
    position: absolute;
    width: 24px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    padding-top: 6px;
    border-radius:100%;
} */
.header
{
    margin-top: 2%;
}
.profile
{
    border: 1px solid white;
    width: 7%;
}
.profile h1
{
    font-size: 23px;        
}
