.tahir
{
    background-color: #D4401F;
}
.test
{
    color: white;
}
.header-cart {
    position:relative;
    margin-right:40px;
  }
  .header-cart i {
    width: 40px;
}

.header-cart span {
background-color: black;
color: #fff;
position: absolute;
width: 24px;
height: 20px;
top: -5px;
right: -15px;
text-align: center;
font-size: 12px;
padding-top: 6px;
border-radius:100%;
}