<mtm-header></mtm-header>
<div class="container mt-5">
  <h1 class="card-title">Mes commandes</h1>
  <table class="table table-striped mb-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Total</th>
        <th scope="col">Etat</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td style="color: #d4401f">
              <strong>BZ--10002</strong>
            </td>
            <td>21/06/2000 17:12</td>
            <td>7000</td>
            <td>En cours</td>
            <td>
              <div class="text-right d-flex icons">
                <button
                routerLink="/client/commande/details/1"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Details"
                  class="btn btn-white border-secondary bg-info btn-md mb-2"
                >
                  <i class="bi bi-info-circle-fill"></i>
                </button>
                <button
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Annuler"
                  class="btn btn-white border-secondary bg-danger btn-md mb-2"
                >
                  <i class="bi bi-cart-x-fill"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <td style="color: #d4401f">
              <strong>BZ--10002</strong>
            </td>
            <td>21/06/2000 17:12</td>
            <td>7000</td>
            <td>En cours</td>
            <td>
              <div class="text-right d-flex icons">
                <button
                routerLink="/client/commande/details/1"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Details"
                  class="btn btn-white border-secondary bg-info btn-md mb-2"
                >
                  <i class="bi bi-info-circle-fill"></i>
                </button>
                <button
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Annuler"
                  class="btn btn-white border-secondary bg-danger btn-md mb-2"
                >
                  <i class="bi bi-cart-x-fill"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <td style="color: #d4401f">
              <strong>BZ--10002</strong>
            </td>
            <td>21/06/2000 17:12</td>
            <td>7000</td>
            <td>En cours</td>
            <td>
              <div class="text-right d-flex icons">
                <button
                routerLink="/client/commande/details/1"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Details"
                  class="btn btn-white border-secondary bg-info btn-md mb-2"
                >
                  <i class="bi bi-info-circle-fill"></i>
                </button>
                <button
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Annuler"
                  class="btn btn-white border-secondary bg-danger btn-md mb-2"
                >
                  <i class="bi bi-cart-x-fill"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <td style="color: #d4401f">
              <strong>BZ--10002</strong>
            </td>
            <td>21/06/2000 17:12</td>
            <td>7000</td>
            <td>En cours</td>
            <td>
              <div class="text-right d-flex icons">
                <button
                routerLink="/client/commande/details/1"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Details"
                  class="btn btn-white border-secondary bg-info btn-md mb-2"
                >
                  <i class="bi bi-info-circle-fill"></i>
                </button>
                <button
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Annuler"
                  class="btn btn-white border-secondary bg-danger btn-md mb-2"
                >
                  <i class="bi bi-cart-x-fill"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <td style="color: #d4401f">
              <strong>BZ--10002</strong>
            </td>
            <td>21/06/2000 17:12</td>
            <td>7000</td>
            <td>En cours</td>
            <td>
              <div class="text-right d-flex icons">
                <button
                routerLink="/client/commande/details/1"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Details"
                  class="btn btn-white border-secondary bg-info btn-md mb-2"
                >
                  <i class="bi bi-info-circle-fill"></i>
                </button>
                <button
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Annuler"
                  class="btn btn-white border-secondary bg-danger btn-md mb-2"
                >
                  <i class="bi bi-cart-x-fill"></i>
                </button>
              </div>
            </td>
          </tr>
    </tbody>

  </table>
  <div class="pagination mb-5">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
  </div>
</div>
<mtm-footer></mtm-footer>
