<mtm-header></mtm-header>
<section class="vh-100" style="background-color: #ffff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-7">
                <div class="shadow p-3 mb-5 bg-white rounded card" style="border-radius: 1rem;">
                   <div class="salut">
                    <div class="company d-flex justify-content-center mb-4 mt-3">
                        <img class="rounded-circle" src="assets/images/bb.png" width="100" height="100" alt="">
                        <h1 class="card-title text-center mt-3 m-lg-3">Brazil burger</h1>
                    </div>
                    <h3 class="card-title text-center">Creer votre compte!!!</h3>
                   </div>
                    <form class="mb-5" action="">
                        <div class="line d-flex justify-content-center">
                            <div class="form-groug">
                                <label for="">Nom</label>
                                <input  type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Prenom</label>
                                <input  type="text" class="form-control">
                            </div>
                        </div>
                        <div class="line d-flex justify-content-center">
                            <div class="form-groug">
                                <label for="">Adresse</label>
                                <input  type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Telephone</label>
                                <input  type="text" class="form-control">
                            </div>
                        </div>
                        <div class="line d-flex justify-content-center">
                            <div class="form-groug">
                                <label for="">Password</label>
                                <input  type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Email</label>
                                <input  type="email" class="form-control">
                            </div>
                        </div>
                        <div class="line d-flex confirm">
                            <div class="form-groug">
                                <label for="">Confirm Password</label>
                                <input  type="text" class="form-control">
                            </div>
                           
                        </div>
                        <div class="mt-5 mb-4">
                            <button class="btn btn-dark btn-lg btn-block submit" type="submit">Sign up</button>
                            <a routerLink="/securite/login" href="">Se connecter</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
