<mtm-header ></mtm-header>
<div class="container">
      <div>
        <h3 class="mb-3 mt-5">Mon Panier</h3>
      </div>
     <div class="contain d-grid ">
      <div class="contain-cart p-3 col-7 shadow p-3 mb-5 bg-white rounded">
        <table class="table table-condensed table-responsive">
          <thead>
            <tr>
              <th style="width: 60%">Product</th>
              <th style="width: 12%">Price</th>
              <th style="width: 10%">Quantity</th>
              <th style="width: 10%">Total</th>
              <th *ngIf="panier==true" style="width: 60%"></th>
            </tr>
          </thead>
          <tbody>
            <tr class="mb-4">
              <td data-th="Product">
                <div class="row">
                  <div class="col-md-3 text-left">
                    <img
                      src="../../../../../assets/images/burger.jpg"
                      alt=""
                      class="img-fluid d-none d-md-block rounded-circle mb-2 shadow"
                      width="150"
                      height="150"
                    />
                  </div>
                  <div class="col-md-9 text-left mt-sm-2">
                    <h4 style="color: #d4401f">Burger Simple</h4>
                  </div>
                </div>
              </td>
              <td data-th="Price">6000</td>
              <td data-th="Quantity">
                <input
                  type="number"
                  class="form-control form-control-lg text-center"
                  value="1"
                />
              </td>
              <td data-th="Total">6000</td>
              <td *ngIf="panier==true" class="actions" data-th="">
                <div class="text-right d-flex icons">
                  <button
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Augmenter la quantite"
                    class="btn btn-white border-secondary bg-success btn-md mb-2"
                  >
                    <i class="bi bi-cart-plus-fill"></i>
                  </button>
                  <button
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Diminuer la quantite"
                    class="btn btn-white border-secondary bg-warning btn-md mb-2"
                  >
                    <i class="bi bi-cart-dash-fill"></i>
                  </button>
                  <button
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Supprimer"
                    class="btn btn-white border-secondary bg-danger btn-md mb-2"
                  >
                    <i class="bi bi-cart-x-fill"></i>
                  </button>
                  <button
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Details"
                    class="btn btn-white border-secondary bg-info btn-md mb-2"
                  >
                    <i class="bi bi-info-circle-fill"></i>
                  </button>
                </div>
              </td>
            </tr>  
            <tr class="mb-4">
              <td data-th="Product">
                <div class="row">
                  <div class="col-md-3 text-left">
                    <img
                      src="../../../../../assets/images/burger.jpg"
                      alt=""
                      class="img-fluid d-none d-md-block rounded-circle mb-2 shadow"
                      width="150"
                      height="150"
                    />
                  </div>
                  <div class="col-md-9 text-left mt-sm-2">
                    <h4 style="color: #d4401f">Burger Simple</h4>
                  </div>
                </div>
              </td>
              <td data-th="Price">6000</td>
              <td data-th="Quantity">
                <input
                  type="number"
                  class="form-control form-control-lg text-center"
                  value="1"
                />
              </td>
              <td data-th="Total">6000</td>
              <td *ngIf="panier==true" class="actions" data-th="">
                <div class="text-right d-flex icons">
                  <button
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Augmenter la quantite"
                    class="btn btn-white border-secondary bg-success btn-md mb-2"
                  >
                    <i class="bi bi-cart-plus-fill"></i>
                  </button>
                  <button
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Diminuer la quantite"
                    class="btn btn-white border-secondary bg-warning btn-md mb-2"
                  >
                    <i class="bi bi-cart-dash-fill"></i>
                  </button>
                  <button
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Supprimer"
                    class="btn btn-white border-secondary bg-danger btn-md mb-2"
                  >
                    <i class="bi bi-cart-x-fill"></i>
                  </button>
                  <button
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Details"
                    class="btn btn-white border-secondary bg-info btn-md mb-2"
                  >
                    <i class="bi bi-info-circle-fill"></i>
                  </button>
                </div>
              </td>
            </tr>  
            <tr class="mb-4">
              <td data-th="Product">
                <div class="row">
                  <div class="col-md-3 text-left">
                    <img
                      src="../../../../../assets/images/burger.jpg"
                      alt=""
                      class="img-fluid d-none d-md-block rounded-circle mb-2 shadow"
                      width="150"
                      height="150"
                    />
                  </div>
                  <div class="col-md-9 text-left mt-sm-2">
                    <h4 style="color: #d4401f">Burger Simple</h4>
                  </div>
                </div>
              </td>
              <td data-th="Price">6000</td>
              <td data-th="Quantity">
                <input
                  type="number"
                  class="form-control form-control-lg text-center"
                  value="1"
                />
              </td>
              <td data-th="Total">6000</td>
              <td *ngIf="panier==true" class="actions" data-th="">
                <div class="text-right d-flex icons">
                  <button
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Augmenter la quantite"
                    class="btn btn-white border-secondary bg-success btn-md mb-2"
                  >
                    <i class="bi bi-cart-plus-fill"></i>
                  </button>
                  <button
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Diminuer la quantite"
                    class="btn btn-white border-secondary bg-warning btn-md mb-2"
                  >
                    <i class="bi bi-cart-dash-fill"></i>
                  </button>
                  <button
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Supprimer"
                    class="btn btn-white border-secondary bg-danger btn-md mb-2"
                  >
                    <i class="bi bi-cart-x-fill"></i>
                  </button>
                  <button
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Details"
                    class="btn btn-white border-secondary bg-info btn-md mb-2"
                  >
                    <i class="bi bi-info-circle-fill"></i>
                  </button>
                </div>
              </td>
            </tr>  
            <tr class="mb-4">
              <td data-th="Product">
                <div class="row">
                  <div class="col-md-3 text-left">
                    <img
                      src="../../../../../assets/images/burger.jpg"
                      alt=""
                      class="img-fluid d-none d-md-block rounded-circle mb-2 shadow"
                      width="150"
                      height="150"
                    />
                  </div>
                  <div class="col-md-9 text-left mt-sm-2">
                    <h4 style="color: #d4401f">Burger Simple</h4>
                  </div>
                </div>
              </td>
              <td data-th="Price">6000</td>
              <td data-th="Quantity">
                <input
                  type="number"
                  class="form-control form-control-lg text-center"
                  value="1"
                />
              </td>
              <td data-th="Total">6000</td>
              <td *ngIf="panier==true" class="actions" data-th="">
                <div class="text-right d-flex icons">
                  <button
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Augmenter la quantite"
                    class="btn btn-white border-secondary bg-success btn-md mb-2"
                  >
                    <i class="bi bi-cart-plus-fill"></i>
                  </button>
                  <button
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Diminuer la quantite"
                    class="btn btn-white border-secondary bg-warning btn-md mb-2"
                  >
                    <i class="bi bi-cart-dash-fill"></i>
                  </button>
                  <button
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Supprimer"
                    class="btn btn-white border-secondary bg-danger btn-md mb-2"
                  >
                    <i class="bi bi-cart-x-fill"></i>
                  </button>
                  <button
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Details"
                    class="btn btn-white border-secondary bg-info btn-md mb-2"
                  >
                    <i class="bi bi-info-circle-fill"></i>
                  </button>
                </div>
              </td>
            </tr>  
          </tbody>
        </table>
      </div>
    
    <div class="resume shadow p-3 mb-5 bg-white rounded">
        <h2>Total: <strong style="color:#d4401f;">8500 FCFA</strong></h2>
        <div class="radio mt-2">
            <input type="radio" name="livraison" id="" checked> A livrer
            <input type="radio" name="livraison" id=""> Sur Place
        </div>
        <div class="coo mb-4 mt-3">
           <div *ngIf="panier==true" class="form-group">
            <label for="">Telephone</label>
            <input  type="text" class="form-control">
           </div>
           <div *ngIf="panier==true" class="form-group">
            <label for="">Adresse</label>
            <input type="text" class="form-control">
           </div>
        </div>
        <button *ngIf="panier==true"><h3 class="mb-1 mt-1">Je Valide</h3></button>
    </div>
 
     </div>
  
</div>
<mtm-footer></mtm-footer>