<div class="main d-flex flex-column align-items-center">
    <div class="qty">
        <button (click)="qtyminus(qte)" class="increment" aria-hidden="true">&minus;</button>
        <input type="number" #qte name="qty" id="qty" min="1" step="1" value="0">
        <button (click)="qtyplus(qte)" class="increment" aria-hidden="true">&plus;</button>
    </div>
    <div class="contain">
        <img class="mx-auto mt-2" src="../../assets/images/coca.jpeg" width="100" height="100" alt="">
        <h4 class="text-center">Coca cola</h4>
    </div>
</div>
