<div class="item">
    <img class="image" src="assets/images/slide.jpg" height="600" width="100%" alt="Find Your">
    <h1 class="welcome">Bienvenue chez Brazil Burger. <br>
        Le plaisir de vous donner du goût !</h1>
</div>
<div class="container mt-5">
    <!-- <div class="icons mb-4">
        <a class="text-black " href=""><i class="fa-solid fa-burger fa-3x"></i></a>
        <a class="text-black" href=""> <i class="fa-solid fa-utensils fa-3x"></i></a>
    </div> -->
   <div class="row">
    <div class="card-all">
        <mtm-card></mtm-card>
        <mtm-card></mtm-card>
        <mtm-card></mtm-card>
        <mtm-card></mtm-card>
        <mtm-card></mtm-card>
        <mtm-card></mtm-card>
        <mtm-card></mtm-card>
        <mtm-card></mtm-card>
        <mtm-card></mtm-card>
        <mtm-card></mtm-card>
        <mtm-card></mtm-card>
        <mtm-card></mtm-card>
        <mtm-card></mtm-card>
        <mtm-card></mtm-card>
        <mtm-card></mtm-card>
        <mtm-card></mtm-card>
    </div>
   </div>
</div>


