<div class="container shadow-lg p-3 mb-5 bg-body rounded mt-3">
   <mtm-details-desc></mtm-details-desc>
    <h2 class="text-center fw-bold" style="color: #D4401F;">Composition du menu</h2>
    <div class="composition d-flex p-1">
      <mtm-composition></mtm-composition>
      <mtm-composition></mtm-composition>
      <mtm-composition></mtm-composition>
      <mtm-composition></mtm-composition>
      <mtm-composition></mtm-composition>
      <mtm-composition></mtm-composition>
      <mtm-composition></mtm-composition>
      <mtm-composition></mtm-composition>
      <mtm-composition></mtm-composition>
    </div>
    <h2 class="text-center fw-bold mt-5" style="color: #D4401F;">Choisir les boissons du menu</h2>
    <div class="choice d-flex mb-4 flex-column p-3">
        <mtm-taille-boissons></mtm-taille-boissons>
        <mtm-taille-boissons></mtm-taille-boissons>
    </div>
</div>


